In [17]:
import pandas as pd

In [69]:
expectations = pd.read_excel('survey_clean.xlsx')
market = pd.read_excel('data_idealista.xlsx')
expectations.columns
len(expectations)

65

In [19]:
expectations.columns

##Analizar si las expectativas varían en base a 'age', 'gender','way of living'

##Variables fuera del análisis: 'house_status','floor','bathrooms
distritos_exp = ['Carabanchel', 'Ciudad Lineal', 'Latina', 'Villaverde', 'Retiro', 'Arganzuela', 'Usera', 'Vicálvaro', 'Fuencarral-El Pardo', 'Moncloa-Aravaca', 'Hortaleza', 'Tetuán', 'Chamberí', 'Moratalaz', 'Centro', 'Puente de Vallecas', 'San Blás-Canillejas', 'B.Salamanca', 'Barajas', 'Villa de Vallecas', 'Chamartín']
distritos_mkt = ['canillejas','vallecas','barajas','moratalaz','tetuan','hortaleza','fuencarral','vicalvaro','usera','villaverde','arganzuela','barrio_salamanca','centro','chamberi','moncloa_aravaca','retiro','chamartin','ciudad_lineal','carabanchel','arguelles','latina']

In [20]:
rename_columns = {
    'Carabanchel': 'carabanchel',
    'Ciudad Lineal': 'ciudad_lineal',
    'Latina':'latina',
    'Villaverde':'villaverde',
    'Retiro':'retiro',
    'Arganzuela':'arganzuela',
    'Usera':'usera',
    'Vicálvaro':'vicalvaro',
    'Fuencarral-El Pardo':'fuencarral',
    'Moncloa-Aravaca':'moncloa_aravaca',
    'Hortaleza':'hortaleza',
    'Tetuán':'tetuan',
    'Chamberí':'chamberi',
    'Moratalaz':'moratalaz',
    'Centro':'centro',
    'San Blás-Canillejas':'canillejas',
    'B.Salamanca':'barrio_salamanca',
    'Barajas':'barajas',
    'Villa de Vallecas':'vallecas',
    'Chamartín':'chamartin'
    
    
    # Agrega más pares si es necesario
}

# Renombrar las columnas utilizando el método rename
expectations.rename(columns=rename_columns, inplace=True)

In [21]:
market['Rooms'] = market['Rooms'].str.extract('(\d+)').astype(int)
market['Rooms'].unique()

array([1, 3])

In [22]:
market['Surface'].unique()

array(['73 m²', '98 m²'], dtype=object)

In [23]:
expectations[['age','gender','districts','house_status',]]

,age,gender,districts,house_status
0,25-30,male,Fuencarral-El Pardo,good status
1,30-40,male,Hortaleza,to reform
2,30-40,female,"Chamberí,Moncloa-Aravaca,Ciudad Lineal",good status
3,30-40,female,"Centro,Hortaleza,San Blás-Canillejas,Barajas",NaN
4,30-40,female,"Retiro,B.Salamanca,Tetuán,Chamberí,Moncloa-Ara...",new
...,...,...,...,...
60,25-30,female,"Retiro,B.Salamanca,Moncloa-Aravaca,Otro",new
61,30-40,male,"Centro,Retiro,B.Salamanca,Chamberí,Moncloa-Ara...","good status,new"
62,30-40,male,"Moratalaz,Ciudad Lineal,Hortaleza,Villa de Val...","to reform,good status"
63,25-30,male,"Fuencarral-El Pardo,Hortaleza,Chamartín","to reform,good status"
64,25-30,male,"Centro,Retiro,Chamberí",NaN

In [24]:
expectations

,record_date,contract_type,age,gender,districts,house_status,client_priorities,floor,way_of_living,rooms,...,new,middle_floors,attic,house/chalet,house/chalet,attic,middle_floors,ground_floor,min_area,max_area
0,2024-01-09 21:08:43.857,purchase,25-30,male,Fuencarral-El Pardo,good status,good services,"middle_floors, house/chalet",partner,2,...,0,1,0,1,1,0,0,0,70.0,90.0
1,2024-01-09 21:25:03.589,purchase,30-40,male,Hortaleza,to reform,good services,middle_floors,partner,2,...,0,1,0,0,0,0,0,0,70.0,90.0
2,2024-01-09 21:39:23.857,purchase,30-40,female,"Chamberí,Moncloa-Aravaca,Ciudad Lineal",good status,"public transport,terrace,garage,good services,...",middle_floors,partner,3,...,0,1,0,0,0,0,0,0,90.0,120.0
3,2024-01-09 21:40:06.588,purchase,30-40,female,"Centro,Hortaleza,San Blás-Canillejas,Barajas",NaN,"public transport,elevator,garage,good services...","attic, house/chalet",partner,3,...,0,0,0,1,1,1,0,0,NaN,NaN
4,2024-01-09 21:40:23.998,purchase,30-40,female,"Retiro,B.Salamanca,Tetuán,Chamberí,Moncloa-Ara...",new,"terrace,elevator,good services,exterior,wardrobes",attic,alone,1,...,1,0,0,0,0,1,0,0,50.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2024-01-11 16:13:50.257,purchase,25-30,female,"Retiro,B.Salamanca,Moncloa-Aravaca,Otro",new,"terrace,garage,good services,exterior,Jardín","attic, house/chalet",partner,"3, 4 o más",...,1,0,0,1,1,1,0,0,70.0,NaN
61,2024-01-11 16:36:39.473,purchase,30-40,male,"Centro,Retiro,B.Salamanca,Chamberí,Moncloa-Ara...","good status,new","public transport,terrace,elevator,garage,good ...","attic, house/chalet",partner,2,...,1,0,0,1,1,1,0,0,50.0,70.0
62,2024-01-11 17:22:17.148,purchase,30-40,male,"Moratalaz,Ciudad Lineal,Hortaleza,Villa de Val...","to reform,good status","public transport,elevator,garage,good services","middle_floors, house/chalet",partner,3,...,0,1,0,1,1,0,0,0,70.0,90.0
63,2024-01-11 19:55:46.874,purchase,25-30,male,"Fuencarral-El Pardo,Hortaleza,Chamartín","to reform,good status","public transport,elevator,good services,exterior","middle_floors, house/chalet",partner,"2, 3",...,0,1,0,1,1,0,0,0,70.0,90.0
64,2024-01-12 09:06:20.174,purchase,25-30,male,"Centro,Retiro,Chamberí",NaN,"public transport,terrace,good services",attic,partner,1,...,0,0,0,0,0,1,0,0,70.0,90.0

In [25]:
expectations['districts'] = expectations['districts'].replace(rename_columns, regex=True)

# Mostrar el DataFrame actualizado
expectations

,record_date,contract_type,age,gender,districts,house_status,client_priorities,floor,way_of_living,rooms,...,new,middle_floors,attic,house/chalet,house/chalet,attic,middle_floors,ground_floor,min_area,max_area
0,2024-01-09 21:08:43.857,purchase,25-30,male,fuencarral,good status,good services,"middle_floors, house/chalet",partner,2,...,0,1,0,1,1,0,0,0,70.0,90.0
1,2024-01-09 21:25:03.589,purchase,30-40,male,hortaleza,to reform,good services,middle_floors,partner,2,...,0,1,0,0,0,0,0,0,70.0,90.0
2,2024-01-09 21:39:23.857,purchase,30-40,female,"chamberi,moncloa_aravaca,ciudad_lineal",good status,"public transport,terrace,garage,good services,...",middle_floors,partner,3,...,0,1,0,0,0,0,0,0,90.0,120.0
3,2024-01-09 21:40:06.588,purchase,30-40,female,"centro,hortaleza,canillejas,barajas",NaN,"public transport,elevator,garage,good services...","attic, house/chalet",partner,3,...,0,0,0,1,1,1,0,0,NaN,NaN
4,2024-01-09 21:40:23.998,purchase,30-40,female,"retiro,barrio_salamanca,tetuan,chamberi,monclo...",new,"terrace,elevator,good services,exterior,wardrobes",attic,alone,1,...,1,0,0,0,0,1,0,0,50.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2024-01-11 16:13:50.257,purchase,25-30,female,"retiro,barrio_salamanca,moncloa_aravaca,Otro",new,"terrace,garage,good services,exterior,Jardín","attic, house/chalet",partner,"3, 4 o más",...,1,0,0,1,1,1,0,0,70.0,NaN
61,2024-01-11 16:36:39.473,purchase,30-40,male,"centro,retiro,barrio_salamanca,chamberi,monclo...","good status,new","public transport,terrace,elevator,garage,good ...","attic, house/chalet",partner,2,...,1,0,0,1,1,1,0,0,50.0,70.0
62,2024-01-11 17:22:17.148,purchase,30-40,male,"moratalaz,ciudad_lineal,hortaleza,vallecas,vic...","to reform,good status","public transport,elevator,garage,good services","middle_floors, house/chalet",partner,3,...,0,1,0,1,1,0,0,0,70.0,90.0
63,2024-01-11 19:55:46.874,purchase,25-30,male,"fuencarral,hortaleza,chamartin","to reform,good status","public transport,elevator,good services,exterior","middle_floors, house/chalet",partner,"2, 3",...,0,1,0,1,1,0,0,0,70.0,90.0
64,2024-01-12 09:06:20.174,purchase,25-30,male,"centro,retiro,chamberi",NaN,"public transport,terrace,good services",attic,partner,1,...,0,0,0,0,0,1,0,0,70.0,90.0

In [26]:
expectations['ID'] = expectations.index

In [27]:
expectations.rename(columns={'Jardín': 'garden','ID': 'Customer_ID'}, inplace=True)

expectations[['Customer_ID','districts','max_loan',
              'min_area',
              'garage','rooms','swimming_pool','elevator','porter','terrace','public transport','air-conditioning','storage room','wardrobes','garden']]

,Customer_ID,districts,max_loan,min_area,garage,rooms,swimming_pool,elevator,porter,terrace,public transport,air-conditioning,storage room,wardrobes,garden
0,0,fuencarral,227342.979570,70.0,0,2,0,0,0,0,0,0,0,0,0
1,1,hortaleza,216814.535933,70.0,0,2,0,0,0,0,0,0,0,0,0
2,2,"chamberi,moncloa_aravaca,ciudad_lineal",406527.254874,90.0,1,3,0,0,0,1,1,0,1,0,0
3,3,"centro,hortaleza,canillejas,barajas",227342.979570,NaN,1,3,0,1,0,0,1,1,0,1,0
4,4,"retiro,barrio_salamanca,tetuan,chamberi,monclo...",377030.232818,50.0,0,1,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,60,"retiro,barrio_salamanca,moncloa_aravaca,Otro",377030.232818,70.0,1,"3, 4 o más",0,0,0,1,0,0,0,0,1
61,61,"centro,retiro,barrio_salamanca,chamberi,monclo...",502706.977090,50.0,1,2,0,1,0,1,1,0,0,0,0
62,62,"moratalaz,ciudad_lineal,hortaleza,vallecas,vic...",227342.979570,70.0,1,3,0,1,0,0,1,0,0,0,0
63,63,"fuencarral,hortaleza,chamartin",341014.469355,70.0,0,"2, 3",0,1,0,0,1,0,0,0,0
64,64,"centro,retiro,chamberi",377030.232818,70.0,0,1,0,0,0,1,1,0,0,0,0

In [28]:
expect = expectations[['Customer_ID','districts','max_loan',
              'min_area',
              'garage','rooms','swimming_pool','elevator','porter','terrace','public transport','air-conditioning','storage room','wardrobes','garden',
             'canillejas','vallecas','barajas','moratalaz','tetuan','hortaleza','fuencarral','vicalvaro','usera','villaverde','arganzuela',
              'barrio_salamanca','centro','chamberi','moncloa_aravaca','retiro','chamartin','ciudad_lineal','carabanchel','latina']]
expect

,Customer_ID,districts,max_loan,min_area,garage,rooms,swimming_pool,elevator,porter,terrace,...,arganzuela,barrio_salamanca,centro,chamberi,moncloa_aravaca,retiro,chamartin,ciudad_lineal,carabanchel,latina
0,0,fuencarral,227342.979570,70.0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,hortaleza,216814.535933,70.0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,"chamberi,moncloa_aravaca,ciudad_lineal",406527.254874,90.0,1,3,0,0,0,1,...,0,0,0,1,1,0,0,1,0,0
3,3,"centro,hortaleza,canillejas,barajas",227342.979570,NaN,1,3,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,4,"retiro,barrio_salamanca,tetuan,chamberi,monclo...",377030.232818,50.0,0,1,0,1,0,1,...,0,1,0,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,60,"retiro,barrio_salamanca,moncloa_aravaca,Otro",377030.232818,70.0,1,"3, 4 o más",0,0,0,1,...,0,1,0,0,1,1,0,0,0,0
61,61,"centro,retiro,barrio_salamanca,chamberi,monclo...",502706.977090,50.0,1,2,0,1,0,1,...,0,1,1,1,1,1,1,0,0,0
62,62,"moratalaz,ciudad_lineal,hortaleza,vallecas,vic...",227342.979570,70.0,1,3,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
63,63,"fuencarral,hortaleza,chamartin",341014.469355,70.0,0,"2, 3",0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
64,64,"centro,retiro,chamberi",377030.232818,70.0,0,1,0,0,0,1,...,0,0,1,1,0,1,0,0,0,0

In [29]:

distritos_mkt = ['canillejas', 'vallecas', 'barajas', 'moratalaz', 'tetuan', 'hortaleza', 'fuencarral', 'vicalvaro', 'usera', 'villaverde', 'arganzuela', 'barrio_salamanca', 'centro', 'chamberi', 'moncloa_aravaca', 'retiro', 'chamartin', 'ciudad_lineal', 'carabanchel', 'latina']

for distrito in distritos_mkt:
    market[distrito] = market['Distrito'].apply(lambda x: 1 if distrito in x else 0)

market
market['Price'] = pd.to_numeric(market['Price'].str.replace('[^\d]', '', regex=True))
market

,Unnamed: 0,Unnamed: 0.1,url,Title,Price,Currency,Garage,Description,Surface,Rooms,...,arganzuela,barrio_salamanca,centro,chamberi,moncloa_aravaca,retiro,chamartin,ciudad_lineal,carabanchel,latina
0,0,0,https://www.idealista.com/buscar/venta-viviend...,"Piso en Secoya 3 D, Pau de Carabanchel, Madrid",380000,€,Garaje incluido,Gilmar Madrid-Rio ( ) Ubicado en la zona de PA...,73 m²,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,https://www.idealista.com/buscar/venta-viviend...,"Piso en Conde Orgaz-Piovera, Madrid",1150000,€,Garaje incluido,"GILMAR Consulting Inmobiliario Madrid, Conde O...",73 m²,1,...,0,0,0,0,0,0,0,0,0,0
2,2,2,https://www.idealista.com/buscar/venta-viviend...,"Piso en Pueblo Nuevo, Madrid",229000,€,Garaje incluido,GILMAR Consulting presenta este piso para actu...,73 m²,1,...,0,0,0,0,0,0,0,0,0,0
3,3,3,https://www.idealista.com/buscar/venta-viviend...,"Piso en Campo de las Naciones-Corralejos, Madrid",270000,€,Garaje incluido,"GILMAR Consulting Inmobiliario Madrid, Conde O...",73 m²,1,...,0,0,0,0,0,0,0,0,0,0
4,4,4,https://www.idealista.com/buscar/venta-viviend...,"Piso en calle de Aracne, Rejas, Madrid",262500,€,Garaje incluido,Piso exterior con piscina durante todo el año\...,73 m²,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,1779,25,https://www.idealista.com/venta-viviendas/madr...,"Piso en calle de Doña Mencía, Puerta del Ángel...",249000,€,NaN,ESTUCASA vende en exclusiva:\nFantástica vivie...,98 m²,3,...,0,0,0,0,0,0,0,0,0,1
624,1780,26,https://www.idealista.com/venta-viviendas/madr...,"Piso en paseo Perales, Puerta del Ángel, Madrid",225000,€,NaN,LINKCASA PASEO DE EXTREMADURA vende un piso en...,98 m²,3,...,0,0,0,0,0,0,0,0,0,1
625,1781,27,https://www.idealista.com/venta-viviendas/madr...,"Piso en calle Cerro Bermejo, Puerta del Ángel,...",230000,€,NaN,"ESTUCASA vende en exclusiva:\nOportunidad! ,\n...",98 m²,3,...,0,0,0,0,0,0,0,0,0,1
626,1782,28,https://www.idealista.com/venta-viviendas/madr...,"Piso en paseo de Extremadura, Puerta del Ángel...",320000,€,NaN,Marceli vende: Magnifico piso en Paseo Extrema...,98 m²,3,...,0,0,0,0,0,0,0,0,0,1
627,1783,29,https://www.idealista.com/venta-viviendas/madr...,"Piso en calle de Juan Pascual de Mena, Puerta ...",240000,€,NaN,Marceli vende: Piso muy amplio en cuarta plant...,98 m²,3,...,0,0,0,0,0,0,0,0,0,1

In [30]:
#expect.info()
#expect.describe()
distritos_mkt = ['canillejas','vallecas','barajas','moratalaz','tetuan','hortaleza','fuencarral','vicalvaro','usera','villaverde','arganzuela','barrio_salamanca','centro','chamberi','moncloa_aravaca','retiro','chamartin','ciudad_lineal','carabanchel','latina']

mkt_canillejas = market[market['canillejas'] == 1]
mkt_vallecas = market[market['vallecas'] == 1]
mkt_barajas = market[market['barajas'] == 1]
mkt_moratalaz = market[market['moratalaz'] == 1]
mkt_tetuan = market[market['tetuan'] == 1]
mkt_hortaleza = market[market['hortaleza'] == 1]
mkt_fuencarral = market[market['fuencarral'] == 1]
mkt_vicalvaro = market[market['vicalvaro'] == 1]
mkt_usera = market[market['usera'] == 1]
mkt_villaverde = market[market['villaverde'] == 1]
mkt_arganzuela = market[market['arganzuela'] == 1]
mkt_barrio_salamanca = market[market['barrio_salamanca'] == 1]
mkt_centro = market[market['centro'] == 1]
mkt_chamberi = market[market['chamberi'] == 1]
mkt_moncloa_aravaca = market[market['moncloa_aravaca'] == 1]
mkt_retiro = market[market['retiro'] == 1]
mkt_chamartin = market[market['chamartin'] == 1]
mkt_ciudad_lineal = market[market['ciudad_lineal'] == 1]
mkt_carabanchel = market[market['carabanchel'] == 1]
mkt_latina = market[market['latina'] == 1]

In [31]:
dataframes_list = [mkt_canillejas, mkt_vallecas, mkt_barajas, mkt_moratalaz, mkt_tetuan, mkt_hortaleza,
                   mkt_fuencarral, mkt_vicalvaro, mkt_usera, mkt_villaverde, mkt_arganzuela,
                   mkt_barrio_salamanca, mkt_centro, mkt_chamberi, mkt_moncloa_aravaca,
                   mkt_retiro, mkt_chamartin, mkt_ciudad_lineal, mkt_carabanchel, mkt_latina]


columns_to_remove = ['canillejas', 'vallecas', 'barajas', 'moratalaz', 'tetuan',
                     'hortaleza', 'fuencarral', 'vicalvaro', 'usera', 'villaverde',
                     'arganzuela', 'barrio_salamanca', 'centro', 'chamberi',
                     'moncloa_aravaca', 'retiro', 'chamartin', 'ciudad_lineal',
                     'carabanchel', 'latina','unnamed: 0', 'unnamed: 0.1', 'url']

column_mapping = {
        'distrito': 'districts',
        'vallecas': 'nueva_vallecas',
        'barajas': 'nueva_barajas',
        # ... añade el resto de columnas según sea necesario
    }

market.rename(columns=column_mapping, inplace=True)
for df in dataframes_list:
    df.columns = df.columns.str.lower()
    
    # Eliminar las columnas solo si existen en el DataFrame
    columns_to_remove_existing = [col for col in columns_to_remove if col in df.columns]
    df.drop(columns=columns_to_remove_existing, inplace=True)
        # Crear un diccionario de mapeo para los nuevos nombres de las columnas
    
    
    # Renombrar las columnas
    df.rename(columns=column_mapping, inplace=True)

C:\Users\rozio\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\rozio\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [41]:
exp_canillejas = expect[expect['canillejas'] == 1]
exp_vallecas = expect[expect['vallecas'] == 1]
exp_barajas = expect[expect['barajas'] == 1]
exp_moratalaz = expect[expect['moratalaz'] == 1]
exp_tetuan = expect[expect['tetuan'] == 1]
exp_hortaleza = expect[expect['hortaleza'] == 1]
exp_fuencarral = expect[expect['fuencarral'] == 1]
exp_vicalvaro = expect[expect['vicalvaro'] == 1]
exp_usera = expect[expect['usera'] == 1]
exp_villaverde = expect[expect['villaverde'] == 1]
exp_arganzuela = expect[expect['arganzuela'] == 1]
exp_barrio_salamanca = expect[expect['barrio_salamanca'] == 1]
exp_centro = expect[expect['centro'] == 1]
exp_chamberi = expect[expect['chamberi'] == 1]
exp_moncloa_aravaca = expect[expect['moncloa_aravaca'] == 1]
exp_retiro = expect[expect['retiro'] == 1]
exp_chamartin = expect[expect['chamartin'] == 1]
exp_ciudad_lineal = expect[expect['ciudad_lineal'] == 1]
exp_carabanchel = expect[expect['carabanchel'] == 1]
exp_latina = expect[expect['latina'] == 1]

In [42]:
exp_barrio_salamanca

mean_prices_exp_barrio_salamanca = exp_barrio_salamanca.groupby(['terrace'])['max_loan'].mean().reset_index()

# Redondear la columna 'price' a dos decimales
mean_prices_exp_barrio_salamanca['max_loan'] = mean_prices_exp_barrio_salamanca['max_loan'].round(2)

# Imprimir el resultado


# Ordenar de mayor a menor según la columna 'price'
mean_prices_exp_barrio_salamanca_sorted = mean_prices_exp_barrio_salamanca.sort_values(by='max_loan', ascending=False)

# Imprimir el resultado ordenado
print(mean_prices_exp_barrio_salamanca_sorted)

   terrace   max_loan
0        0  412138.20
1        1  352819.13

In [43]:
exp_moncloa_aravaca['max_loan'].mean()

349058.81728050933

In [44]:


mean_prices_exp_chamberi = exp_chamberi.groupby(['terrace'])['max_loan'].mean().reset_index()

# Redondear la columna 'price' a dos decimales
mean_prices_exp_chamberi['max_loan'] = mean_prices_exp_chamberi['max_loan'].round(2)

# Imprimir el resultado


# Ordenar de mayor a menor según la columna 'price'
mean_prices_exp_chamberi_sorted = mean_prices_exp_chamberi.sort_values(by='max_loan', ascending=False)

# Imprimir el resultado ordenado
print(mean_prices_exp_chamberi_sorted)

   terrace   max_loan
0        0  389060.10
1        1  331510.13

In [45]:


mean_prices_exp_retiro = exp_retiro.groupby(['terrace'])['max_loan'].mean().reset_index()

# Redondear la columna 'price' a dos decimales
mean_prices_exp_retiro['max_loan'] = mean_prices_exp_retiro['max_loan'].round(2)

# Imprimir el resultado


# Ordenar de mayor a menor según la columna 'price'
mean_prices_exp_retiro_sorted = mean_prices_exp_retiro.sort_values(by='max_loan', ascending=False)

# Imprimir el resultado ordenado
print(mean_prices_exp_retiro_sorted)

   terrace   max_loan
0        0  405319.08
1        1  352691.97

In [46]:


mean_prices_exp_moncloa_aravaca = exp_moncloa_aravaca.groupby(['terrace'])['max_loan'].mean().reset_index()

# Redondear la columna 'price' a dos decimales
mean_prices_exp_moncloa_aravaca['max_loan'] = mean_prices_exp_moncloa_aravaca['max_loan'].round(2)

# Imprimir el resultado


# Ordenar de mayor a menor según la columna 'price'
mean_prices_exp_moncloa_aravaca_sorted = mean_prices_exp_moncloa_aravaca.sort_values(by='max_loan', ascending=False)

# Imprimir el resultado ordenado
print(mean_prices_exp_moncloa_aravaca_sorted)

   terrace   max_loan
0        0  371806.01
1        1  337685.22

In [47]:
# Lista de DataFrames adicionales
exp_dataframes_list = [exp_canillejas, exp_vallecas, exp_barajas, exp_moratalaz, exp_tetuan,
                       exp_hortaleza, exp_fuencarral, exp_vicalvaro, exp_usera, exp_villaverde,
                       exp_arganzuela, exp_barrio_salamanca, exp_centro, exp_chamberi,
                       exp_moncloa_aravaca, exp_retiro, exp_chamartin, exp_ciudad_lineal,
                       exp_carabanchel, exp_latina]
columns_to_remove = ['canillejas', 'vallecas', 'barajas', 'moratalaz', 'tetuan',
                     'hortaleza', 'fuencarral', 'vicalvaro', 'usera', 'villaverde',
                     'arganzuela', 'barrio_salamanca', 'centro', 'chamberi',
                     'moncloa_aravaca', 'retiro', 'chamartin', 'ciudad_lineal',
                     'carabanchel', 'latina']

column_mapping = {
        'public transport': 'public_transport',
        'air-conditioning': 'air_conditioning',
        'storage room': 'storage_room',
        # ... añade el resto de columnas según sea necesario
    }

# Iterar sobre la lista de DataFrames adicionales y cambiar los nombres de las columnas a minúsculas
for exp_df in exp_dataframes_list:
    exp_df.columns = exp_df.columns.str.lower()
    exp_df.drop(columns=columns_to_remove, inplace=True)
    exp_df.rename(columns=column_mapping, inplace=True)

C:\Users\rozio\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
C:\Users\rozio\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [48]:
exp_canillejas.columns
expect.columns = expect.columns.str.lower()
expect.columns
column_mapping = {
        'public transport': 'public_transport',
        'air-conditioning': 'air_conditioning',
        'storage room': 'storage_room',
        # ... añade el resto de columnas según sea necesario
    }
expect.rename(columns=column_mapping, inplace=True)

In [49]:
exp_canillejas.columns
expect_compare =expect[['customer_id', 'districts', 'max_loan', 'min_area', 'garage', 'rooms',
       'swimming_pool', 'elevator', 'porter', 'terrace', 'public_transport',
       'air_conditioning', 'storage_room', 'wardrobes', 'garden']]


expect_compare.to_excel('expect_compare.xlsx')

In [50]:
market.columns = market.columns.str.lower()
column_mapping = {
        'public transport': 'public_transport',
        'air-conditioning': 'air_conditioning',
        'distrito':'districts',
        'storage room': 'storage_room'
    
        # ... añade el resto de columnas según sea necesario
    }
market.rename(columns=column_mapping, inplace=True)
market.columns

market.columns
market_compare = market[['title', 'price', 'currency', 'garage', 'description', 'surface',
       'rooms', 'more', 'districts', 'swimming_pool', 'porter', 'terrace',
       'public_transport', 'air_conditioner', 'exterior', 'wardrobes',
       'garden', 'storage_room', 'elevator']]
market_compare.to_excel('market_compare.xlsx')

In [51]:
# Filtrar el DataFrame mkt_canillejas para incluir solo las filas que cumplen con la condición
filtered_mkt_canillejas = mkt_canillejas[
    (exp_canillejas['max_loan'].values >= mkt_canillejas['price'].values) &
    (exp_canillejas['rooms'].values <= mkt_canillejas['rooms'].values) &
    (exp_canillejas['garage'].values == mkt_canillejas['garage'].values) &
    (exp_canillejas['swimming_pool'].values == mkt_canillejas['swimming_pool'].values) &
    (exp_canillejas['porter'].values == mkt_canillejas['porter'].values) &
    (exp_canillejas['terrace'].values == mkt_canillejas['terrace'].values) &
    (exp_canillejas['public_transport'].values == mkt_canillejas['public_transport'].values) 

]
   # (exp_canillejas['air_conditioner'].values == mkt_canillejas['air_conditioner'].values) &
   # (exp_canillejas['exterior'].values == mkt_canillejas['exterior'].values) &
   # (exp_canillejas['wardrobes'].values == mkt_canillejas['wardrobes'].values) &
   # (exp_canillejas['garden'].values == mkt_canillejas['garden'].values) &
   # (exp_canillejas['storage_room'].values == mkt_canillejas['storage_room'].values) &
   # (exp_canillejas['elevator'].values == mkt_canillejas['elevator'].values)
# Imprimir el DataFrame filtrado
print(filtered_mkt_canillejas)

Empty DataFrame
Columns: [title, price, currency, garage, description, surface, rooms, more, districts, swimming_pool, porter, terrace, public_transport, air_conditioner, exterior, wardrobes, garden, storage_room, elevator]
Index: []

In [52]:
# Filtrar el DataFrame mkt_canillejas para incluir solo las filas que cumplen con la condición
filtered_mkt_canillejas = mkt_canillejas[
    (exp_canillejas['max_loan'].values >= mkt_canillejas['price'].values) &
    (exp_canillejas['elevator'].values == mkt_canillejas['elevator'].values) 
    ]

# Imprimir el DataFrame filtrado
filtered_mkt_canillejas

,title,price,currency,garage,description,surface,rooms,more,districts,swimming_pool,porter,terrace,public_transport,air_conditioner,exterior,wardrobes,garden,storage_room,elevator
15,"Piso en calle Valderrobres, Canillejas, Madrid",159900,€,Garaje incluido,VOhome propiedades vende en Canillejas piso re...,73 m²,1,Planta 6ª exterior con ascensor,canillejas,0,0,0,0,0,0,1,0,0,1

In [53]:
# Filtrar el DataFrame mkt_canillejas
filtered_mkt_canillejas = mkt_canillejas[
    (exp_canillejas['max_loan'].values >= mkt_canillejas['price'].values) &
    (exp_canillejas['elevator'].values == mkt_canillejas['elevator'].values)
]

# Añadir la columna customer_id de exp_canillejas a filtered_mkt_canillejas
filtered_mkt_canillejas['customer_id'] = exp_canillejas['customer_id'].values

filtered_mkt_canillejas

C:\Users\rozio\anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,title,price,currency,garage,description,surface,rooms,more,districts,swimming_pool,porter,terrace,public_transport,air_conditioner,exterior,wardrobes,garden,storage_room,elevator,customer_id
15,"Piso en calle Valderrobres, Canillejas, Madrid",159900,€,Garaje incluido,VOhome propiedades vende en Canillejas piso re...,73 m²,1,Planta 6ª exterior con ascensor,canillejas,0,0,0,0,0,0,1,0,0,1,3

In [54]:
# Filtrar el DataFrame mkt_canillejas para incluir solo las filas que cumplen con la condición
filtered_mkt_canillejas = mkt_canillejas[
    (exp_canillejas['max_loan'].values >= mkt_canillejas['price'].values) &
    (exp_canillejas['elevator'].values == mkt_canillejas['elevator'].values) 
    ]
filtered_mkt_canillejas['customer_id'] = exp_canillejas['customer_id'].values

# Imprimir el DataFrame filtrado
filtered_mkt_canillejas

C:\Users\rozio\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,title,price,currency,garage,description,surface,rooms,more,districts,swimming_pool,porter,terrace,public_transport,air_conditioner,exterior,wardrobes,garden,storage_room,elevator,customer_id
15,"Piso en calle Valderrobres, Canillejas, Madrid",159900,€,Garaje incluido,VOhome propiedades vende en Canillejas piso re...,73 m²,1,Planta 6ª exterior con ascensor,canillejas,0,0,0,0,0,0,1,0,0,1,3

In [55]:
##VALLECAS_
# Filtrar el DataFrame mkt_canillejas para incluir solo las filas que cumplen con la condición
filtered_mkt_vallecas = mkt_vallecas[
    (exp_vallecas['max_loan'].values >= mkt_vallecas['price'].values) &
    (exp_vallecas['elevator'].values == mkt_vallecas['elevator'].values) 
    ]
filtered_mkt_vallecas['customer_id'] = exp_vallecas['customer_id'].values
# Imprimir el DataFrame filtrado
filtered_mkt_vallecas

C:\Users\rozio\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

,title,price,currency,garage,description,surface,rooms,more,districts,swimming_pool,porter,terrace,public_transport,air_conditioner,exterior,wardrobes,garden,storage_room,elevator,customer_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62

In [58]:
exp_barrio_salamanca

,customer_id,districts,max_loan,min_area,garage,rooms,swimming_pool,elevator,porter,terrace,public_transport,air_conditioning,storage_room,wardrobes,garden
4,4,"retiro,barrio_salamanca,tetuan,chamberi,monclo...",377030.232818,50.0,0,1,0,1,0,1,0,0,0,1,0
7,7,"arganzuela,retiro,barrio_salamanca,chamberi,mo...",251353.488545,50.0,1,"1, 2",0,1,0,1,1,0,0,0,0
8,8,"retiro,barrio_salamanca,chamberi,moncloa_aravaca",406527.254874,NaN,1,3,0,0,0,0,1,0,0,0,0
10,10,"centro,retiro,barrio_salamanca,tetuan,chamberi...",251353.488545,90.0,1,2,1,1,1,1,1,1,1,1,1
13,13,"centro,retiro,barrio_salamanca,chamberi,chamartin",341014.469355,90.0,0,3,0,0,0,0,0,0,0,0,0
18,18,"arganzuela,retiro,barrio_salamanca,chamberi,fu...",341014.469355,70.0,1,2,0,1,0,1,1,0,0,0,0
19,19,"centro,barrio_salamanca,chamberi,moncloa_aravaca",181874.383656,90.0,1,"3, 4 o más",1,1,0,1,0,1,0,0,0
21,21,"retiro,barrio_salamanca,tetuan,chamberi,chamartin",377030.232818,90.0,1,2,0,0,0,1,0,0,0,1,0
24,24,"barrio_salamanca,chamberi,moncloa_aravaca,ciud...",377030.232818,90.0,0,2,1,1,0,1,0,0,0,0,1
25,25,"retiro,barrio_salamanca,chamberi,moncloa_arava...",502706.977090,NaN,1,4 o más,1,0,0,0,1,0,0,1,0
32,32,"centro,retiro,barrio_salamanca,moncloa_aravaca...",377030.232818,90.0,1,3,0,1,1,1,0,0,0,0,0
35,35,"barrio_salamanca,fuencarral",341014.469355,NaN,1,4 o más,1,1,0,0,1,1,0,0,1
36,36,"retiro,barrio_salamanca,chamberi,moncloa_aravaca",227342.979570,70.0,1,2,0,0,0,1,0,1,1,0,0
37,37,"retiro,barrio_salamanca,chamberi,fuencarral,mo...",502706.977090,90.0,0,3,1,0,0,0,1,1,0,0,0
43,43,"retiro,barrio_salamanca",341014.469355,90.0,1,2,1,1,1,1,1,1,1,1,1
45,45,"retiro,barrio_salamanca,chamberi,ciudad_lineal...",377030.232818,90.0,0,"2, 3",0,1,0,1,0,0,0,0,0
47,47,"retiro,barrio_salamanca,chamartin",406527.254874,90.0,1,3,0,1,0,1,0,0,0,0,0
48,48,"centro,retiro,barrio_salamanca,chamberi,monclo...",406527.254874,70.0,0,2,0,1,1,0,0,1,0,0,0
49,49,"retiro,barrio_salamanca,chamberi,moncloa_arava...",502706.977090,90.0,1,3,0,0,1,1,0,0,0,0,0
50,50,"retiro,barrio_salamanca,chamberi,latina,chamartin",377030.232818,90.0,1,4 o más,1,1,0,0,1,0,0,0,0
51,51,"barrio_salamanca,chamberi,chamartin",377030.232818,90.0,0,"2, 3",0,1,1,0,0,0,0,1,0
52,52,"retiro,barrio_salamanca,chamberi,fuencarral,mo...",377030.232818,NaN,1,4 o más,1,0,0,1,0,0,1,0,0
57,57,"centro,arganzuela,retiro,barrio_salamanca,cham...",454685.959140,90.0,0,3,0,1,0,0,1,0,0,1,0
60,60,"retiro,barrio_salamanca,moncloa_aravaca,Otro",377030.232818,70.0,1,"3, 4 o más",0,0,0,1,0,0,0,0,1
61,61,"centro,retiro,barrio_salamanca,chamberi,monclo...",502706.977090,50.0,1,2,0,1,0,1,1,0,0,0,0

In [59]:

len_max_loan = len(exp_barrio_salamanca['max_loan'])
len_price = len(mkt_barrio_salamanca['price'])


if len_max_loan != len_price:

    min_len = min(len_max_loan, len_price)
    

    exp_barrio_salamanca = exp_barrio_salamanca.head(min_len)
    mkt_barrio_salamanca = mkt_barrio_salamanca.head(min_len)


filtered_mkt_barrio_salamanca = mkt_barrio_salamanca[
    (exp_barrio_salamanca['max_loan'].values >= mkt_barrio_salamanca['price'].values) &
    (exp_barrio_salamanca['elevator'].values == mkt_barrio_salamanca['elevator'].values) & 
    (exp_barrio_salamanca['terrace'].values == mkt_barrio_salamanca['terrace'].values)
]


filtered_mkt_barrio_salamanca[['title','price','swimming_pool','terrace','air_conditioner','exterior','wardrobes','garden','storage_room' ,'elevator']]

,title,price,swimming_pool,terrace,air_conditioner,exterior,wardrobes,garden,storage_room,elevator
330,"Piso en Secoya 3 D, Pau de Carabanchel, Madrid",380000,1,0,0,0,0,0,1,0
332,"Piso en calle Ardemans, Guindalera, Madrid",297000,0,0,0,0,0,0,0,0
337,"Piso en calle de Ardemans, Guindalera, Madrid",299000,0,0,0,0,0,0,0,0
346,"Piso en Roma, Guindalera, Madrid",350000,0,1,0,0,0,0,0,0

In [60]:

len_max_loan = len(exp_chamberi['max_loan'])
len_price = len(mkt_chamberi['price'])


if len_max_loan != len_price:

    min_len = min(len_max_loan, len_price)
    

    exp_chamberi = exp_chamberi.head(min_len)
    mkt_chamberi = mkt_chamberi.head(min_len)


filtered_mkt_chamberi = mkt_chamberi[
    (exp_chamberi['max_loan'].values >= mkt_chamberi['price'].values) &
    (exp_chamberi['elevator'].values == mkt_chamberi['elevator'].values) & 
    (exp_chamberi['terrace'].values == mkt_chamberi['terrace'].values)
]


filtered_mkt_chamberi[['title','price','swimming_pool','terrace','air_conditioner','exterior','wardrobes','garden','storage_room' ,'elevator']]

,title,price,swimming_pool,terrace,air_conditioner,exterior,wardrobes,garden,storage_room,elevator
394,"Ático en calle de Fernando el Católico, Gaztam...",250000,0,0,0,0,0,0,0,0

In [61]:

len_max_loan = len(exp_moncloa_aravaca['max_loan'])
len_price = len(mkt_moncloa_aravaca['price'])


if len_max_loan != len_price:

    min_len = min(len_max_loan, len_price)
    

    exp_moncloa_aravaca = exp_moncloa_aravaca.head(min_len)
    mkt_moncloa_aravaca = mkt_moncloa_aravaca.head(min_len)


filtered_mkt_moncloa_aravaca = mkt_moncloa_aravaca[
    (exp_moncloa_aravaca['max_loan'].values >= mkt_moncloa_aravaca['price'].values) &
    (exp_moncloa_aravaca['elevator'].values == mkt_moncloa_aravaca['elevator'].values) & 
    (exp_moncloa_aravaca['terrace'].values == mkt_moncloa_aravaca['terrace'].values)
]


filtered_mkt_moncloa_aravaca[['title','price','swimming_pool','terrace','air_conditioner','exterior','wardrobes','garden','storage_room' ,'elevator']]

,title,price,swimming_pool,terrace,air_conditioner,exterior,wardrobes,garden,storage_room,elevator
422,"Piso en Berenisa, Aravaca, Madrid",250000,0,0,0,0,0,0,0,0
431,Casa o chalet independiente en Guadarrama,399000,0,0,0,0,0,0,0,0
435,"Piso en Valdemarín, Madrid",277000,0,0,0,0,0,0,0,0

In [62]:
mkt_barrio_salamanca.describe()
len(mkt_moncloa_aravaca)

27

In [141]:
# Obtener las longitudes de las columnas relevantes
len_max_loan = len(exp_retiro['max_loan'])
len_price = len(mkt_retiro['price'])

# Verificar si las longitudes son iguales
if len_max_loan != len_price:
    # Ajustar las longitudes eligiendo el mínimo de ambas
    min_len = min(len_max_loan, len_price)
    
    # Filtrar los DataFrames para tener la misma longitud
    exp_retiro = exp_retiro.head(min_len)
    mkt_retiro = mkt_retiro.head(min_len)

# Filtrar el DataFrame mkt_barrio_salamanca
filtered_mkt_retiro = mkt_retiro[
    (exp_retiro['max_loan'].values >= mkt_retiro['price'].values) &
    (exp_retiro['elevator'].values == mkt_retiro['elevator'].values)
]

# Añadir la columna customer_id de exp_barrio_salamanca a filtered_mkt_barrio_salamanca solo para las filas que cumplen con la condición
#filtered_mkt_barrio_salamanca.loc[filtered_mkt_barrio_salamanca.index, 'customer_id'] = exp_barrio_salamanca['customer_id'].tolist()

# Imprimir el DataFrame filtrado
filtered_mkt_barrio_salamanca

,title,price,currency,garage,description,surface,rooms,more,districts,swimming_pool,porter,terrace,public_transport,air_conditioner,exterior,wardrobes,garden,storage_room,elevator
330,"Piso en Secoya 3 D, Pau de Carabanchel, Madrid",380000,€,Garaje incluido,Gilmar Madrid-Rio ( ) Ubicado en la zona de PA...,73 m²,1,Planta 6ª exterior con ascensor,barrio_salamanca,1,1,0,0,0,0,0,0,1,0
332,"Piso en calle Ardemans, Guindalera, Madrid",297000,€,NaN,Gilmar Consulting Inmobiliario presenta este f...,73 m²,1,Planta 6ª exterior con ascensor,barrio_salamanca,0,1,0,0,0,0,0,0,0,0
337,"Piso en calle de Ardemans, Guindalera, Madrid",299000,€,NaN,Soluciones Tengacasa le ofrece en venta Ático ...,73 m²,1,Planta 6ª exterior con ascensor,barrio_salamanca,0,0,0,0,0,0,0,0,0,0
346,"Piso en Roma, Guindalera, Madrid",350000,€,NaN,Estupendo Loft con características de apartame...,73 m²,1,Planta 6ª exterior con ascensor,barrio_salamanca,0,0,1,0,0,0,0,0,0,0

In [64]:
# Obtener las longitudes de las columnas relevantes
len_max_loan = len(exp_moratalaz['max_loan'])
len_price = len(mkt_moratalaz['price'])

# Verificar si las longitudes son iguales
if len_max_loan != len_price:
    # Ajustar las longitudes eligiendo el mínimo de ambas
    min_len = min(len_max_loan, len_price)
    
    # Filtrar los DataFrames para tener la misma longitud
    exp_moratalaz = exp_moratalaz.head(min_len)
    mkt_moratalaz = mkt_moratalaz.head(min_len)

# Filtrar el DataFrame mkt_barrio_salamanca
filtered_mkt_moratalaz = mkt_moratalaz[
    (exp_moratalaz['max_loan'].values >= mkt_moratalaz['price'].values) &
    (exp_moratalaz['elevator'].values == mkt_moratalaz['elevator'].values)
]

# Añadir la columna customer_id de exp_barrio_salamanca a filtered_mkt_barrio_salamanca solo para las filas que cumplen con la condición
#filtered_mkt_barrio_salamanca.loc[filtered_mkt_barrio_salamanca.index, 'customer_id'] = exp_barrio_salamanca['customer_id'].tolist()

# Imprimir el DataFrame filtrado
filtered_mkt_moratalaz

,title,price,currency,garage,description,surface,rooms,more,districts,swimming_pool,porter,terrace,public_transport,air_conditioner,exterior,wardrobes,garden,storage_room,elevator
90,"Piso en Hacienda De Pavones, Vinateros, Madrid",208000,€,Garaje incluido,Agencia inmobiliaria de MADRID - zona VINATERO...,73 m²,1,Planta 6ª exterior con ascensor,moratalaz,0,0,0,0,0,0,0,0,0,1

In [66]:
# Obtener las longitudes de las columnas relevantes
len_max_loan = len(exp_vicalvaro['max_loan'])
len_price = len(mkt_vicalvaro['price'])

# Verificar si las longitudes son iguales
if len_max_loan != len_price:
    # Ajustar las longitudes eligiendo el mínimo de ambas
    min_len = min(len_max_loan, len_price)
    
    # Filtrar los DataFrames para tener la misma longitud
    exp_vicalvaro = exp_vicalvaro.head(min_len)
    mkt_vicalvaro = mkt_vicalvaro.head(min_len)

# Filtrar el DataFrame mkt_barrio_salamanca
filtered_mkt_moratalaz = mkt_moratalaz[
    (exp_vicalvaro['max_loan'].values >= mkt_vicalvaro['price'].values) &
    (exp_vicalvaro['elevator'].values == mkt_vicalvaro['elevator'].values)
]

# Añadir la columna customer_id de exp_barrio_salamanca a filtered_mkt_barrio_salamanca solo para las filas que cumplen con la condición
#filtered_mkt_barrio_salamanca.loc[filtered_mkt_barrio_salamanca.index, 'customer_id'] = exp_barrio_salamanca['customer_id'].tolist()

# Imprimir el DataFrame filtrado
filtered_mkt_vicalvaro

ValueError: Item wrong length 1 instead of 4.

In [57]:

distritos_mkt = ['canillejas', 'vallecas', 'barajas', 'moratalaz', 'tetuan', 'hortaleza', 'fuencarral', 'vicalvaro', 'usera', 'villaverde', 'arganzuela', 'barrio_salamanca', 'centro', 'chamberi', 'moncloa_aravaca', 'retiro', 'chamartin', 'ciudad_lineal', 'carabanchel', 'latina']
distritos_mkt

['canillejas',
 'vallecas',
 'barajas',
 'moratalaz',
 'tetuan',
 'hortaleza',
 'fuencarral',
 'vicalvaro',
 'usera',
 'villaverde',
 'arganzuela',
 'barrio_salamanca',
 'centro',
 'chamberi',
 'moncloa_aravaca',
 'retiro',
 'chamartin',
 'ciudad_lineal',
 'carabanchel',
 'latina']

In [67]:
# Lista de distritos
distritos_mkt = ['canillejas', 'vallecas', 'tetuan', 'hortaleza', 'fuencarral', 'usera', 'villaverde', 'arganzuela', 'barrio_salamanca', 'centro', 'chamberi', 'moncloa_aravaca', 'retiro', 'chamartin', 'ciudad_lineal', 'carabanchel', 'latina']

# Lista para almacenar los dataframes filtrados
filtered_dataframes_list = []

# Iterar sobre los distritos
for distrito in distritos_mkt:
    # Obtener los dataframes correspondientes a exp y mkt para el distrito actual
    exp_df = globals()[f"exp_{distrito}"]
    mkt_df = globals()[f"mkt_{distrito}"]
    
    # Filtrar el DataFrame mkt para el distrito actual
    filtered_df = mkt_df[
        (exp_df['max_loan'].values >= mkt_df['price'].values) &
        (exp_df['elevator'].values == mkt_df['elevator'].values)
    ]
    
    # Obtener las longitudes de las columnas relevantes después del filtrado
    len_exp_df = len(filtered_df)
    len_mkt_df = len(filtered_df['price'])
    
    # Verificar si las longitudes son iguales
    if len_exp_df != len_mkt_df:
        # Ajustar las longitudes eligiendo el mínimo de ambas
        min_len = min(len_exp_df, len_mkt_df)
        
        # Filtrar los DataFrames para tener la misma longitud
        exp_df = exp_df.head(min_len)
        filtered_df = filtered_df.head(min_len)

    # Añadir la columna customer_id de exp al DataFrame filtrado
    filtered_df['customer_id'] = exp_df['customer_id'].values
    
    # Agregar el DataFrame filtrado a la lista
    filtered_dataframes_list.append(filtered_df)

# Imprimir los dataframes filtrados
for i, distrito in enumerate(distritos_mkt):
    print(f"DataFrame filtrado para {distrito}:\n{filtered_dataframes_list[i]}\n")

C:\Users\rozio\anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

ValueError: operands could not be broadcast together with shapes (5,) (30,)

In [68]:
# Lista de distritos
distritos_mkt = ['canillejas', 'vallecas', 'tetuan', 'hortaleza', 'fuencarral']
                 ##'vicalvaro', 'usera', 'villaverde', 'arganzuela', 'barrio_salamanca', 'centro', 'chamberi', 'moncloa_aravaca', 'retiro', 'chamartin', 'ciudad_lineal', 'carabanchel', 'latina']

# Lista para almacenar los dataframes filtrados
filtered_dataframes_list = []

# Iterar sobre los distritos
for distrito in distritos_mkt:
    # Obtener los dataframes correspondientes a exp y mkt para el distrito actual
    exp_df = globals()[f"exp_{distrito}"]
    mkt_df = globals()[f"mkt_{distrito}"]
    
    # Filtrar el DataFrame mkt para el distrito actual
    filtered_df = mkt_df[
        (exp_df['max_loan'].values >= mkt_df['price'].values) &
        (exp_df['elevator'].values == mkt_df['elevator'].values)
    ]
    
    # Obtener las longitudes de las columnas relevantes después del filtrado
    len_exp_df = len(filtered_df)
    len_mkt_df = len(filtered_df['price'])
    
    # Verificar si las longitudes son iguales
    if len_exp_df != len_mkt_df:
        # Ajustar las longitudes eligiendo el mínimo de ambas
        min_len = min(len_exp_df, len_mkt_df)
        
        # Filtrar los DataFrames para tener la misma longitud
        exp_df = exp_df.head(min_len)
        mkt_df = mkt_df.head(min_len)

    # Filtrar el DataFrame mkt después del ajuste
    filtered_df = mkt_df[
        (exp_df['max_loan'].values >= mkt_df['price'].values) &
        (exp_df['elevator'].values == mkt_df['elevator'].values)
    ]
    
    # Añadir la columna customer_id de exp al DataFrame filtrado
    filtered_df['customer_id'] = exp_df['customer_id'].values
    
    # Agregar el DataFrame filtrado a la lista
    filtered_dataframes_list.append(filtered_df)

# Imprimir los dataframes filtrados
for i, distrito in enumerate(distritos_mkt):
    print(f"DataFrame filtrado para {distrito}:\n{filtered_dataframes_list[i]}\n")

C:\Users\rozio\anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

ValueError: operands could not be broadcast together with shapes (5,) (30,)

In [134]:
# Listas de DataFrames de expectativas y de mercado
exp_dataframes_list = [exp_canillejas, exp_vallecas, exp_barajas, exp_moratalaz, exp_tetuan,
                       exp_hortaleza, exp_fuencarral, exp_vicalvaro, exp_usera, exp_villaverde,
                       exp_arganzuela, exp_barrio_salamanca, exp_centro, exp_chamberi,
                       exp_moncloa_aravaca, exp_retiro, exp_chamartin, exp_ciudad_lineal,
                       exp_carabanchel, exp_latina]

mkt_dataframes_list = [mkt_canillejas, mkt_vallecas, mkt_barajas, mkt_moratalaz, mkt_tetuan, mkt_hortaleza,
                       mkt_fuencarral, mkt_vicalvaro, mkt_usera, mkt_villaverde, mkt_arganzuela,
                       mkt_barrio_salamanca, mkt_centro, mkt_chamberi, mkt_moncloa_aravaca,
                       mkt_retiro, mkt_chamartin, mkt_ciudad_lineal, mkt_carabanchel, mkt_latina]

# Iterar sobre los pares de DataFrames
for exp_df, mkt_df in zip(exp_dataframes_list, mkt_dataframes_list):
    # Hacer una copia explícita para evitar SettingWithCopyWarning
    filtered_mkt_df = mkt_df.copy()

    # Obtener las longitudes de las columnas relevantes
    len_max_loan = len(exp_df['max_loan'])
    len_price = len(filtered_mkt_df['price'])

    # Verificar si las longitudes son iguales
    if len_max_loan != len_price:
        # Ajustar las longitudes eligiendo el mínimo de ambas
        min_len = min(len_max_loan, len_price)

        # Filtrar los DataFrames para tener la misma longitud
        exp_df = exp_df.head(min_len)
        filtered_mkt_df = filtered_mkt_df.head(min_len)

    # Filtrar el DataFrame de mercado
    filtered_mkt_df = filtered_mkt_df[
        (exp_df['max_loan'].values >= filtered_mkt_df['price'].values) &
        (exp_df['elevator'].values == filtered_mkt_df['elevator'].values)
    ]

    # Añadir la columna customer_id de exp_df a filtered_mkt_df solo para las filas que cumplen con la condición
    filtered_mkt_df['customer_id'] = exp_df['customer_id'].tolist()

    # Imprimir el DataFrame filtrado
    print(filtered_mkt_df)

  title  price currency garage description surface  rooms more districts  \
0   NaN    NaN      NaN    NaN         NaN     NaN    NaN  NaN       NaN

   swimming_pool  porter  terrace  public_transport  air_conditioner  \
0            NaN     NaN      NaN               NaN              NaN

   exterior  wardrobes  garden  storage_room  elevator  customer_id
0       NaN        NaN     NaN           NaN       NaN            3
  title  price currency garage description surface  rooms more districts  \
0   NaN    NaN      NaN    NaN         NaN     NaN    NaN  NaN       NaN

   swimming_pool  porter  terrace  public_transport  air_conditioner  \
0            NaN     NaN      NaN               NaN              NaN

   exterior  wardrobes  garden  storage_room  elevator  customer_id
0       NaN        NaN     NaN           NaN       NaN           62
  title  price currency garage description surface  rooms more districts  \
0   NaN    NaN      NaN    NaN         NaN     NaN    NaN  NaN       NaN
1   NaN    NaN      NaN    NaN         NaN     NaN    NaN  NaN       NaN
2   NaN    NaN      NaN    NaN         NaN     NaN    NaN  NaN       NaN

   swimming_pool  porter  terrace  public_transport  air_conditioner  \
0            NaN     NaN      NaN               NaN              NaN
1            NaN     NaN      NaN               NaN              NaN
2            NaN     NaN      NaN               NaN              NaN

   exterior  wardrobes  garden  storage_room  elevator  customer_id
0       NaN        NaN     NaN           NaN       NaN            3
1       NaN        NaN     NaN           NaN       NaN           38
2       NaN        NaN     NaN           NaN       NaN           55

ValueError: Length of values does not match length of index